*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0a0a0a;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
}

.logo{
font-size:22px;
font-weight:700;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:50px;
margin-bottom:10px;
}

.hero h3{
font-size:28px;
color:#4dd0ff;
margin-bottom:15px;
}

.btn{
background:#4dd0ff;
padding:12px 30px;
border-radius:25px;
text-decoration:none;
color:black;
margin-top:15px;
}

section{
padding:100px 15%;
}

.skill{
margin:20px 0;
}

.bar{
background:#222;
height:10px;
border-radius:10px;
overflow:hidden;
}

.bar div{
height:100%;
background:#4dd0ff;
}

.projects{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:25px;
border-radius:12px;
width:250px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 40px rgba(0,0,0,0.7);
}

.card a{
display:inline-block;
margin-top:10px;
color:#4dd0ff;
text-decoration:none;
}

footer{
text-align:center;
padding:40px;
background:#050505;
margin-top:60px;
}
